.calendarBackground {
    position: fixed;
    background: url('../../images/happy_jumping_climbers.png');
    background-size: cover;
    height: 115vh;
    width: 100vw;
    top: -15vh;
}

.calendarOverlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 125vh;
    width: 100vw;
}

.calendarH1 {
    position: relative;
    margin: 15vh auto 2.5vh auto;
    width: 40vw;
    color: white;
    z-index: 10;
}

.eventsCalendar, .rbc-calendar {
    margin-top: 15vh !important;
    position: absolute;
    height: 75vh !important;
    width: 70vw !important;
    right: 15vw;
    /* text-align: center; */
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    z-index: 4;
}

.rbc-toolbar.rbc-toolbar-label {
    /* position: absolute; */
    /* right: 50px !important; */
    padding-left: 25px !important;
}